--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

torch
torchaudio
numpy
lhotse
huggingface_hub
safetensors
tensorboard
vocos

# Normalization
cn2an
inflect
unidecode

# Tokenization
jieba
piper_phonemize
pypinyin
setuptools<81